<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162951010858-j24gk8p00dq22r1ucj5t9lh3nhor2tsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162951010858-j24gk8p00dq22r1ucj5t9lh3nhor2tsp</string>
	<key>API_KEY</key>
	<string>AIzaSyCp2kbEhlqz95PWL_eBgyNNkOcUIrD32C0</string>
	<key>GCM_SENDER_ID</key>
	<string>162951010858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaselancaster.BrewMail</string>
	<key>PROJECT_ID</key>
	<string>brewmail-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>brewmail-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162951010858:ios:aff6aa43173d31c8808153</string>
	<key>DATABASE_URL</key>
	<string>https://brewmail-ios.firebaseio.com</string>
</dict>
</plist>